
*{
  font-family: "Lato", sans-serif;
  text-align: center;
}

body {
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, white, deepskyblue, darkblue, deepskyblue, white);
  color: white;
}

.text000.double {border-style: double;}
.text1 {
  color: gray;
}

.text1.double {border-style: double;}
.text3 {
  color: gray;
}

.button1 {
  background-color: black;
  color: white;
}

input[type=text] {
  width: 25%;
  padding: 5px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 1em;
}