
*{
  font-family: "Lato", sans-serif;
  text-align: center;
}


body {
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, white, deepskyblue, darkblue, deepskyblue, white);
  color: white;
}

textarea {
  width: 50%;
  padding: 5px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 1em;
}
